#{extends 'main.html' /}
#{set title:'About Ajira' /}

<section class="content-wrapper main-content clear-fix">
	<h1>About Ajira</h1>
	<h3>What is Ajira?</h3>
	<p>Ajira is a Micro-employment Mobile Application / Web Service for Developing Countries. It allows individuals whom are seeking employment to connect with other people who need a service or task accomplished.</p>
	
	<h3>What is Appropriate Technology?</h3>
	<p>Appropriate technology is technology that takes special consideration of the context - environmental, ethical, economic, and social - of its users. With these goals in mind, Appropriate technology typically relies more on local resources, is easier to maintain, has a lower overall cost and impact on the environment.</p>
	
	<h3>How does Ajira take advantage of Appropriate Technology?</h3>
	<p>In many developing countries around the world technology use is currently on the rise. Although, in some areas there still are not many computers a with Internet access, there are people that own or have access to cell a phone. We plan to develop an SMS interface that will consume our service. This interface will allow any person with text messaging capabilities to take advantage of Ajira.</p>
	 
	<h3>Global Impact</h3>
	<p>Unemployment</p>
	
	<!--h3>Deployment Plan</h3>
	<p></p-->
</section>