#{extends 'main.html' /}
#{set title:'Contact Us' /}

<div class="content-wrapper main-content clear-fix">
<h1>Contact Us</h1>
<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span class="label">Support:</span>
        <span><a href="mailto:Support@example.com">ajira.huduma@gmail.com</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Address</h3>
    </header>
    <p>
    Department of Systems and Computer Science,<br/>
	Howard University, all rights reserved.<br/>
	2300 Sixth Street, NW, Washington, DC 20059
    </p>
</section>
</div>