#{extends 'main.html' /}
#{set title:'Home' /}

<section class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h1>Home Page.</h1>
            <h2>Welcome to Ajira!</h2>
            <h5>Getting Started</h5>
   				 <strong style="color:#ffffff;">If you have never used Ajira, create an account with us by clicking <a style="color:#ffffff" href="/Register">register</a>. 
   				 	If you already have an account please <a style="color:#ffffff" href="/Login">login</a>.
   				 </strong>
        </hgroup>
    </div>
</section>        